<<<<<<< HEAD
.Avatars h1 {
  color: #1c447b;
}
.Avatars img {
  height: 330px;
  border-radius: 5px;
  border: 5px solid #816452;
=======
/*
.Avatars {
  display: flex;
>>>>>>> 225b6e50b72101e2e9b557cce85c34cf78639c80
}

.displayBlock {
  background-color: #ec5c56;

  font-family: "Roboto";
}
li {
  list-style-type: none;
  font-size: 20pt;
  color: #1c447b;
}
.Avatars div {
  display: inline-block;
  margin: 20px;
  margin-left: 320px;
}
.Buttons {
  background-color: #ec5c56;
  align-items: center;
}
.Buttons button {
  background-color: #dddddd;
  width: 200px;
  margin-left: 20px;
  height: 50px;
  border-radius: 5px;
  border: 5px solid #816452;
  text-align: center;
  color: #1c447b;
  font-size: 20pt;
  margin-left: 200px;
}
.allies-list img {
  height: 200px;
  padding-left: 30px;
}
.allies-list {
  margin: 30px;
}
.displayBlock .Avatar button {
  background-color: #dddddd;
  width: 200px;
  margin-left: 20px;
  height: 50px;
  border-radius: 5px;
  border: 5px solid #816452;
  text-align: center;
  color: #1c447b;
  font-size: 20pt;
  margin-top: 10px;
  margin-left: 600px;
}
.container_avatar img {
  width: 200px;
}
.container_avatar {
  display: inline-block;
}
.select_hero_body {
  font-family: "Roboto";
  background-color: #ec5c56;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #1c447b;
}

<<<<<<< HEAD
.hero_container {
  background-color: #dddddd;

  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 15%;
  height: 80%;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.container_avatar img {
  width: 150px;
=======
img {
  width: 100px;
  height: 100px;
>>>>>>> 225b6e50b72101e2e9b557cce85c34cf78639c80
}
.our_hero {
  width: 150px;
}

.buttong {
  background-color: #dddddd;
  width: 100px;

  height: 50px;
  border-radius: 5px;
  border: 5px solid #816452;
  text-align: center;
  color: #1c447b;
  font-size: 20pt;
}
*/

/* COLORS */
$red: #ec5c56;
$blue: #1c447b;
$grey: #dddddd;
$brown: #816452;

/* FONT FAMILY */
$font: "Roboto";

/* FONT WEIGHTS */
$light: 300;
$medium: 500;

/* FONT SIZE */
$h1: 8vw;
$h2: 5vw;
$bodytext: 1.3rem;
$marginal: 14px;

/* BORDER */
$border-thick: 4px;
$border-thin: 1px;

body {
  font-family: $font !important;
}

.avatars--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.avatars_h1 {
  font-size: 1.3rem;
}

.avatars_img {
  width: 30%;
  border-radius: 50%;
  border: solid $red $border-thick;
}
