
ul {
  list-style-type: none;
}

img {
  width: 200px;
}
.chars {
  display: inline-block;
}

.Avatars{
    display:flex;
}
.displayBlock{
    display:flex;
    flex-flow:column;
}
img{
    width:100px;
    height:100px;
}
h1{
    font-size:1em;
}

