/* COLORS */
$red: #ec5c56;
$blue: #1c447b;
$grey: #dddddd;
$brown: #816452;
/* FONT FAMILY */
$font: "Roboto";
/* FONT WEIGHTS */
$light: 300;
$medium: 500;
/* FONT SIZE */
$h1: 8vw;
$h2: 5vw;
$bodytext: 1.3rem;
$marginal: 14px;
/* BORDER */
$border-thick: 4px;
$border-thin: 1px;

.game_container {
  background-color: $red;
  color: $blue;
}

.end-title {
  background-color: $grey;
  margin-bottom: 0;
  margin-top: 1rem;
}

.question--allies {
  border-radius: 50%;
  border-color: $blue;
  border-style: groove;
  margin: 1rem;
  height: 200px;
  width: 200px;
}

.end-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $grey;
  margin: 0 4rem;
}

.end-message h2 {
  font-size: 2vw;
  margin: 1rem 2rem;
}

.end-message h3 {
  font-size: 2vw;
  margin: 4rem 2rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .end-title {
    margin-top: 3rem;
    font-size: 9vw;
  }

  .question--allies {
    height: 240px;
    width: 240px;
  }
  .end-message h2 {
    font-size: 4vw;
    margin: 1rem 0;
  }

  .end-message h3 {
    font-size: 4vw;
    margin: 2rem 0;
  }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .game_container {
    font-size: 6vw;
  }

  .question--allies {
    margin: 1rem;
  }

  .end-message {
    font-size: 4vw;
  }
}

@media screen and (min-width: 360px) and (max-width: 414px) {
  .end-title {
    margin-top: 2rem;
    font-size: 9vw;
  }

  .question--allies {
    height: 120px;
    width: 120px;
  }
  .end-message h2 {
    font-size: 5vw;
    margin: 0 0;
  }

  .end-message h3 {
    font-size: 5vw;
    margin: 2rem 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .end-title {
    margin-top: 2rem;
    font-size: 8vw;
  }

  .question--allies {
    height: 110px;
    width: 110px;
  }
  .end-message h2 {
    font-size: 4vw;
    margin: 1rem 0;
  }

  .end-message h3 {
    font-size: 4vw;
    margin: 1rem 0;
  }
}
