/* COLORS */
$red: #ec5c56;
$lilac: #570071;
$light-lilac: #8622b6;
$black: #060527;

/* FONT FAMILY */
$font: "Roboto";

/* FONT WEIGHTS */
$light: 300;
$medium: 500;

/* FONT SIZE */
$h1: 5rem;
$h2: 2rem;
$p: 1.3rem;
$span: 1rem;
$bodytext: 1.3rem;
$marginal: 14px;

/* BORDER */
$border-thick: 3px;
$border-thin: 1px;

.choose--img {
  background-image: url(../images/Choose.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  position: relative;
  top: 5%;
}

.question--allies {
  height: 100px;
  border-radius: 50%;
}

.allies--wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  animation: slide 0.5s forwards;
}

.allies--wrapper img {
  display: flex;
  height: 90px;
  width: 90px;
  margin: 2%;
  border: $red 3px solid;
  border: solid $border-thick $light-lilac;
  border-radius: 20%;
  &:hover {
    animation: pulse-red 2s infinite;
  }
}

@media screen and (max-width: 400px) {
  .allies--wrapper img {
    height: 75px;
    width: 75px;
  }
}

.slidehero {
  position: absolute;
  bottom: -70%;
  width: 100%;
  height: 30%;
  background: $lilac;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slidehero 0.5s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-out;
}

@keyframes slidehero {
  0% {
    bottom: -70%;
  }
  100% {
    bottom: 0;
  }
}
