.btn {
  color: white !important;
  background-color: #8622b6 !important;
  border-radius: 0.25rem 0.5rem 0.25rem 0.25rem !important;
}
body,
html,
.start {
  font-family: "Roboto" !important;
  color: #ec5c56;
  background-color: #060527;
  text-align: center;
  font-weight: 500;
}
.start--title {
  color: #ec5c56;
  text-align: left;
  position: relative;
  top: 30px;
  left: 5%;
  font-size: 1.3rem;
}
.start--title::after {
  content: "";
  width: 60%;
  position: absolute;
  background-color: #ec5c56;
  height: 3px;
  top: 10px;
  left: 30%;
}
.start--typo {
  font-size: 5rem;
  line-height: 5rem;
  color: #ec5c56;
  font-weight: 500;
}
@media screen and (max-width: 400px) {
  .start--typo {
    font-size: 2rem;
    line-height: 2rem;
  }
}
.start--typo_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.eye--wrapper {
  background-color: #8622b6;
  position: relative;
  margin-top: 70px;
  height: 40vh;
  border-radius: 20px 80px 20px 20px;
  animation: morph 3s linear infinite;
}
@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 80% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
.eye--img {
  background-image: url(../images/Heroine2.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  position: relative;
  top: 5%;
}
.eye--img_pupille {
  background-image: url(../images/Pupille.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 6vh;
  position: relative;
  top: -30%;
  left: -10%;
  -webkit-animation: slide 0.5s infinite;
  -webkit-animation-delay: 1s;
  animation: pupille 3s infinite;
  animation-delay: 1s;
}
@-webkit-keyframes pupille {
  0% {
    left: 0;
  }
  50% {
    left: 7px;
  }
  100% {
    left: 0;
  }
}
@keyframes pupille {
  0% {
    left: 0;
  }
  25% {
    left: 15px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -15px;
  }
}
.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30vh;
}
.slide {
  position: absolute;
  left: -100%;
  width: 100%;
  top: 30%;
  background: #060527;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
