/* COLORS */
$red: #ec5c56;
$lilac: #570071;
$light-lilac: #8622b6;
$black: #060527;

/* FONT FAMILY */
$font: "Roboto";

/* FONT WEIGHTS */
$light: 300;
$medium: 500;

/* FONT SIZE */
$h1: 5rem;
$h2: 2rem;
$p: 1.3rem;
$span: 1rem;
$bodytext: 1.3rem;
$marginal: 14px;

/* BORDER */
$border-thick: 3px;
$border-thin: 1px;

/* BUTTON */
.btn {
  color: white !important;
  border: $border-thick solid $light-lilac !important;
  border-radius: 0.25rem 4rem 0.25rem 0.25rem !important;
  height: 60px;
  width: 200px;
  font-weight: 500 !important;
  box-shadow: $lilac 20px 20px;
  font-size: 1rem !important;
  &:hover {
    text-decoration: none !important;
    background-color: $light-lilac;
  }
  margin: 2%;
}

@media screen and (max-width: 768px) {
  .btn {
    box-shadow: $lilac 10px 10px;
    width: 150px;
  }
}

body,
html,
.App,
.start {
  font-family: $font !important;
  color: $red;
  background-color: $black;
  text-align: center;
  font-weight: 500;
  overflow: hidden;
  animation: fadeIn 0.7s reverse;
  height: 100vh;
}

.start--title {
  color: $red;
  text-align: left;
  position: relative;
  top: 30px;
  left: 5%;
  font-size: $h2;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.start--typo {
  font-size: $h1;
  line-height: $h1;
  color: $red;
  font-weight: 500;
  text-align: left;
  padding-left: 10%;
}

@media screen and (max-width: 1000px) {
  .start--typo {
    font-size: $h2;
    line-height: $h2;
  }
}

.start--typo_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.eye--wrapper {
  background-color: $light-lilac;
  position: relative;
  margin-top: 70px;
  height: 40vh;
  border-radius: 20px 80px 20px 20px;
  animation: morph 3s linear infinite;
  width: 300px;
  margin: 0 auto;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 80% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

.eye--img {
  background-image: url(../images/Heroine2.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  position: relative;
  top: 5%;
}

.eye--img_pupille {
  background-image: url(../images/Pupille.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 6vh;
  position: relative;
  top: -30%;
  left: -10%;
  -webkit-animation: slide 0.5s infinite;
  -webkit-animation-delay: 1s;
  animation: pupille 3s infinite;
  animation-delay: 1s;
}

@-webkit-keyframes pupille {
  0% {
    left: 0;
  }
  50% {
    left: 7px;
  }
  100% {
    left: 0;
  }
}

@keyframes pupille {
  0% {
    left: 0;
  }
  25% {
    left: 15px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -15px;
  }
}

/* SLIDE IN*/
.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh;
}

.slide {
  position: fixed;
  left: -100%;
  width: 100%;
  height: 20%;
  bottom: 20%;
  padding-left: 5%;
  padding: 2%;
  font-size: 2rem !important;
  line-height: 2rem !important;
  opacity: 1;
  background: $light-lilac !important;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.9s;
  display: flex;
  justify-content: center;
}

p {
  margin-top: 0;
  margin-bottom: 0rem !important;
}

.slide_story {
  position: fixed;
  left: -100%;
  width: 100%;
  height: 20%;
  bottom: 20%;
  padding-left: 5%;
  padding: 5%;
  font-size: 1.5rem !important;
  line-height: 1.8rem !important;
  opacity: 1;
  background: $light-lilac !important;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.9s;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .slide {
  }
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.circle--wrap {
  background-color: $red;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .circle--wrap {
    font-size: 1.3rem !important;
  }
}

/* FADE IN */

@keyframes fadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0;
  }
}

/* Game */

.choosen_img_game {
  border-radius: 20%;
  width: 15vw;
  margin: 0 auto;
  top: 20%;
  position: absolute;
}

.img--bigger {
  width: 40% !important;
}

/* RandomQuestion */
.question--heroine {
  width: 100px;
  border-radius: 20px;
  position: absolute;
  right: 5%;
  top: 5%;
}

.question {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question--title_p {
  font-size: 1.3rem !important;
  max-width: 400px;
}

.question--btn {
  padding-bottom: 3%;
  margin: 1%;
}

.btn-link {
  margin-bottom: 23px;
}

.pop--wrap {
  position: relative;
  width: 80%;
  height: 300px;
  background-color: $lilac;
  z-index: 100;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid $border-thick $red;
  flex-direction: column;
  transition: 0.3s;
}

.pop--button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: $red;
  font-size: 1.4rem;
}

.pop--blur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: $black;
  opacity: 0.6;
  z-index: 99;
  top: 0;
}

/* COMPARE */

.avatars_col {
}

.avatars_h1 {
  font-size: 1rem !important;
  margin-right: 40%;
}

.avatars--container {
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  animation: slide;
}

.button--compare_wrap {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .button--compare_wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
  }
}
.avatars--row {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.avatars--power {
  margin-right: 50%;
  color: white;
}

.avatars_p {
  padding: 5%;
  margin-left: 10%;
}

.choosen_img_game {
  margin: 4%;
  max-width: 200px;
  border: solid $border-thick $red;
}
