/* COLORS */
$red: #ec5c56;
$blue: #1c447b;
$grey: #dddddd;
$brown: #816452;
/* FONT FAMILY */
$font: "Roboto";
/* FONT WEIGHTS */
$light: 300;
$medium: 500;
/* FONT SIZE */
$h1: 8vw;
$h2: 5vw;
$bodytext: 1.3rem;
$marginal: 14px;
/* BORDER */
$border-thick: 4px;
$border-thin: 1px;

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

.question {
  background: $grey;
}
.question--wrap {
  height: 100vh;
  background-color: $red;
}
.question--row {
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
@media screen and (max-width: 992px) {
  .question--row {
    flex-direction: column;
  }
}
.question--col_left {
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 992px) {
  .question--col_left {
    flex-direction: column;
    width: 100%;
  }
}
.question--col_right {
  background-color: $grey;
  width: 50%;
}
@media screen and (max-width: 992px) {
  .question--col_right {
    flex-direction: column;
    width: 100%;
  }
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-left: 0px;
  padding-right: 0px;
}
.question--title h1 {
  color: $red;
  font-size: 5rem;
  padding-top: 100px;
  padding-bottom: 5%;
  line-height: 5.2rem;
}
.question--title_p {
  color: $red;
  font-size: 1.3rem;

  padding-bottom: 5%;
}
@media screen and (max-width: 992px) {
  .question--title h1 {
    font-size: 24px;
    color: $red;
    padding-top: 20px;
    padding-bottom: 5%;
  }
}
.question--typo {
  font-size: 20vw;
  line-height: 16vw;
  color: $red;
  -webkit-text-fill-color: $grey;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $red;
  &:nth-child(2) {
    -webkit-text-fill-color: $red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $red;
  }
}
.circle--wrap {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}
.circle--typo {
  color: $grey;
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-weight: 500;
}
.blob {
  overflow: hidden;
  background: $red;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(236, 92, 86, 1);
  margin: 0px;
  width: 300px;
  height: 300px;
  bottom: -150px;
  right: -150px;
  transform: scale(0.7);
  animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(236, 92, 86, 0.7);
  }
  70% {
    transform: scale(1.3);
    box-shadow: 0 0 0 10px rgba(236, 92, 86, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(236, 92, 86, 0);
  }
}
.question--marginal {
  color: $brown;
  position: absolute;
  font-size: 12px;
  bottom: 10px;
  left: 10px;
}
.question--eye {
  width: 30vw;
}
@media screen and (max-width: 992px) {
  .question--eye {
    width: 50vw;
  }
}
@media screen and (max-width: 400px) {
  .question--eye {
    width: 70vw;
  }
}
.robot--wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
/*
@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(221, 221, 221, 0.7);
  }
  70% {
    transform: scale(1.3);
    box-shadow: 0 0 0 10px rgba(221, 221, 221, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(221, 221, 221, 0);
  }
}
*/
/* BUTTON */
.btn-link:hover {
  color: $grey;
  text-decoration: none;
  background-color: $brown;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: $red;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $blue;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
*,
::after,
::before {
  box-sizing: border-box;
  overflow: hidden;
}
/* Typewriter */
/* DEMO-SPECIFIC STYLES */
.typewriter-first h1 {
  font-size: 1.3rem;
  color: $red;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid $red; /* The typwriter cursor */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
@media screen and (max-width: 400px) {
  .typewriter-first h1 {
    font-size: 0.8rem;
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $red;
  }
}
.typewriter-second h1 {
  font-size: 1.3rem;
  color: $brown;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid $red; /* The typwriter cursor */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing-second 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  padding-top: 3%;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 400px) {
  .typewriter-second h1 {
    font-size: 0.8rem;
  }
}
/* The typing effect */
@keyframes typing-second {
  from {
    width: 0;
    color: $red;
  }
  to {
    width: 100%;
    color: $red;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $red;
  }
}
.typewriter-third h1 {
  font-size: 1.3rem;
  color: $brown;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid $red; /* The typwriter cursor */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing-second 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  padding-top: 3%;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 400px) {
  .typewriter-third h1 {
    font-size: 0.8rem;
  }
}
/* The typing effect */
@keyframes typing-second {
  from {
    width: 0;
    color: $red;
  }
  to {
    width: 100%;
    color: $red;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $red;
  }
}
.typewriter-fourth h1 {
  font-size: 1.3rem;
  color: $brown;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid $red; /* The typwriter cursor */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing-second 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  padding-top: 3%;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 400px) {
  .typewriter-fourth h1 {
    font-size: 0.8rem;
  }
}
/* The typing effect */
@keyframes typing-second {
  from {
    width: 0;
    color: $red;
  }
  to {
    width: 100%;
    color: $red;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $red;
  }
}
.typewriter-fifth h1 {
  font-size: 1.3rem;
  color: $brown;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid $red; /* The typwriter cursor */
  white-space: wrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing-second 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  padding-top: 3%;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 400px) {
  .typewriter-fifth h1 {
    font-size: 0.8rem;
  }
}
/* The typing effect */
@keyframes typing-second {
  from {
    width: 0;
    color: $red;
  }
  to {
    width: 100%;
    color: $red;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $red;
  }
}
/* Bubble */
.speech-bubble {
  margin-top: 5%;
  position: relative;
  background: $brown;
  border-radius: 0.4em;
  width: 90%;
  height: 30%;
  margin-left: 5%;
  padding: 5%;
}
.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: $brown;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}
@media screen and (max-width: 992px) {
  .speech-bubble {
    height: 70%;
  }
}
.question--heroine {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 160px;
  border-radius: 50%;
  border: $grey 3px solid;
}
@media screen and (max-width: 900px) {
  .question--heroine {
    font-size: 24px;
    height: 120px;
  }
}
@media screen and (max-width: 400px) {
  .question--heroine {
    font-size: 24px;
    height: 60px;
  }
}
.question--allies {
  height: 100px;
  border-radius: 50%;
}
.allies--wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.allies--wrapper img {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin: 2%;
  border: $red 3px solid;
}
@media screen and (max-width: 400px) {
  .allies--wrapper img {
    height: 50px;
  }
}
.allies--text {
  font-size: 1.4rem;
  margin-top: 10%;
  color: $red;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.4rem;
}
@media screen and (max-width: 400px) {
  .allies--text {
    font-size: 14px;
  }
}
.allies--all {
  display: flex;
}
