@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
.question {
  background: #ddd;
}
.question--wrap {
  height: 100vh;
  background-color: #ec5c56;
}
.question--row {
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
@media screen and (max-width: 992px) {
  .question--row {
    flex-direction: column;
  }
}
.question--col_left {
  background-color: #ec5c56;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  width: 100% !important;
  height: 40vh;
}
@media screen and (max-width: 992px) {
  .question--col_left {
    flex-direction: column !important;
    width: 100% !important;
    height: 40vh;
  }
}
.question--col_right {
  background-color: #ddd;
  flex-direction: column !important;
  width: 100% !important;
  height: 40vh;
}
@media screen and (max-width: 992px) {
  .question--col_right {
    flex-direction: column !important;
    width: 100% !important;
    height: 100% !important;
  }
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-left: 0px;
  padding-right: 0px;
}
.question--typo {
  font-size: 20vw;
  line-height: 16vw;
  color: #ec5c56;
  -webkit-text-fill-color: #ddd;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ec5c56;
}
.question--typo:nth-child(2) {
  -webkit-text-fill-color: #ec5c56;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ec5c56;
}
.circle--wrap {
  display: flex;
  border-radius: 50%;
  overflow: hidden;
}
.circle--typo {
  color: #ddd;
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-weight: 500;
}
.blob {
  overflow: hidden;
  background: #ec5c56;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #ec5c56;
  margin: 0px;
  width: 300px;
  height: 300px;
  bottom: -150px;
  right: -150px;
  transform: scale(0.7);
  animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(236, 92, 86, 0.7);
  }
  70% {
    transform: scale(1.3);
    box-shadow: 0 0 0 10px rgba(236, 92, 86, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(236, 92, 86, 0);
  }
}
.question--marginal {
  color: #816452;
  position: absolute;
  font-size: 12px;
  bottom: 10px;
  left: 10px;
}
.question--eye {
  width: 30vw;
}
@media screen and (max-width: 992px) {
  .question--eye {
    width: 50vw;
  }
}
@media screen and (max-width: 400px) {
  .question--eye {
    width: 70vw;
  }
}
.robot--wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.btn-link:hover {
  color: #ddd;
  text-decoration: none;
  background-color: #816452;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: #ec5c56;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #1c447b;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
*,
::after,
::before {
  box-sizing: border-box;
  overflow: hidden;
}
.typewriter-first h1 {
  font-size: 1.3rem;
  color: #ec5c56;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid #ec5c56;
  white-space: wrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
@media screen and (max-width: 400px) {
  .typewriter-first h1 {
    font-size: 0.8rem;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ec5c56;
  }
}
.typewriter-second h1 {
  font-size: 1.3rem;
  color: #816452;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid #ec5c56;
  white-space: wrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing-second 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  padding-top: 3%;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 400px) {
  .typewriter-second h1 {
    font-size: 0.8rem;
  }
}
@keyframes typing-second {
  from {
    width: 0;
    color: #ec5c56;
  }
  to {
    width: 100%;
    color: #ec5c56;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ec5c56;
  }
}
.typewriter-third h1 {
  font-size: 1.3rem;
  color: #816452;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid #ec5c56;
  white-space: wrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing-second 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  padding-top: 3%;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 400px) {
  .typewriter-third h1 {
    font-size: 0.8rem;
  }
}
@keyframes typing-second {
  from {
    width: 0;
    color: #ec5c56;
  }
  to {
    width: 100%;
    color: #ec5c56;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ec5c56;
  }
}
.typewriter-fourth h1 {
  font-size: 1.3rem;
  color: #816452;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid #ec5c56;
  white-space: wrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing-second 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  padding-top: 3%;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 400px) {
  .typewriter-fourth h1 {
    font-size: 0.8rem;
  }
}
@keyframes typing-second {
  from {
    width: 0;
    color: #ec5c56;
  }
  to {
    width: 100%;
    color: #ec5c56;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ec5c56;
  }
}
.typewriter-fifth h1 {
  font-size: 1.3rem;
  color: #816452;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid #ec5c56;
  white-space: wrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing-second 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  padding-top: 3%;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
@media screen and (max-width: 400px) {
  .typewriter-fifth h1 {
    font-size: 0.8rem;
  }
}
@keyframes typing-second {
  from {
    width: 0;
    color: #ec5c56;
  }
  to {
    width: 100%;
    color: #ec5c56;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ec5c56;
  }
}
.speech-bubble {
  margin-top: 5%;
  position: relative;
  background: #816452;
  border-radius: 0.4em;
  width: 90%;
  height: 30%;
  margin-left: 5%;
  padding: 5%;
}
.speech-bubble:after {
  content: “className;
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #816452;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}
@media screen and (max-width: 992px) {
  .speech-bubble {
    height: 70%;
  }
}
.question--heroine {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 160px;
  border-radius: 50%;
  border: #ddd 3px solid;
}
@media screen and (max-width: 900px) {
  .question--heroine {
    font-size: 24px;
    height: 120px;
  }
}
@media screen and (max-width: 400px) {
  .question--heroine {
    font-size: 24px;
    height: 60px;
  }
}
.question--allies {
  height: 100px;
  border-radius: 50%;
}
.allies--wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.allies--wrapper img {
  display: flex;
  flex-direction: row;
  height: 80px;
  margin: 2%;
  border: #ec5c56 3px solid;
}
@media screen and (max-width: 400px) {
  .allies--wrapper img {
    height: 50px;
  }
}
.allies--text {
  font-size: 1.4rem;
  margin-top: 10%;
  color: #ec5c56;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.4rem;
}
@media screen and (max-width: 400px) {
  .allies--text {
    font-size: 14px;
  }
}
.allies--all {
  display: flex;
}
.pop--bg {
  background-color: #1c447b;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  z-index: 2;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}
.pop--win {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
}
.pop-text {
  z-index: 3;
  position: absolute;
  color: #ec5c56;
  top: 30px;
  left: 30px;
  font-size: 2rem;
}
